# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
*.pdb
*.cache
*.log

# Docker
docker-compose.override.yml
.dockerignore
**/.env

# Helm chart archives and dependencies
*.tgz
charts/*/charts/

# Kubernetes
*.yaml~
*.yml~
.kube/
.kubectl/

# General
*.DS_Store
Thumbs.db
.idea/
node_modules/
dist/
/.prometheus.pid
/.grafana.pid
